.App {
  padding: 0;
}

.Header {
  border: 1px solid black;
  margin-bottom: 1px;
}
.NavLink {
  border: 1px solid #666666;
}

.Tile {
  text-align: center;
  justify-content: center;
}
.MainTitle {
  color: white;
  font-family: "Pier Sans";
  font-size: 200px;
  font-weight: bold;
  margin-bottom: 1px;
}
.SubHeader {
  color: white;
  font-size: 33px;
  font-family: "Pier Sans";
}

.fadeTitle {
  text-align: center;
  padding: 0;
  margin: 0;
  transition-duration: 2s;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navArrows {
  height: 90px;
}

.carousel-indicators li {
  text-align: center;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.carousel-indicators li.active {
  width: 15px;
  height: 15px;
}

.thumbnails {
  background-color: white;
}
