.App {
  background-color: #a422ce;
  min-height: 500px;
}

.Tile {
  text-align: center;
  justify-content: center;
}
.MainTitle {
  color: white;
  font-family: "Pier Sans";
  font-size: 200px;
  font-weight: bold;
  /* background-color: blue; */
  margin-bottom: 15px;
}
.SubHeader {
  color: white;
  font-size: 33px;
  font-family: "Pier Sans";
  /* background-color: teal; */
}

.navArrows {
  height: 100px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
